@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

.nav {
  height: 10vh;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  background-color: rgb(14, 146, 253);
  
  position: sticky;
}

.photo {
  position: absolute;
  top: 20%;
  left: 5%;
}

ul {
  display: flex;
  justify-content: flex-end;
}

li {
  list-style: none;
  height: 20px;
}

li a {
  margin: 20px;
  padding: 20px;
  text-decoration: none;
  color: black;
  font-family: "Roboto Condensed", sans-serif;
}

.photo {
  height: 24px;
}

a:hover {
  cursor: pointer;
  color: blanchedalmond;
}

.search {
  top: 25%;
  right: 20%;
  position: absolute;
  height: 2rem;


}

.search img {
  height: 100%;
  width: 100%;
  margin-right: 2rem;
}

.searchField {
  border-radius: 50px;
  height: 20px;
  width: 250px;
}

.cart {
  position: absolute;
  top: 0px;
  right: 0;
  background-color: rgb(251, 252, 253);
  border-radius: 30px;
  height: 1.5rem;
  width: 1.8rem;
  text-align: center;
  font-size: 1;
  color: black;
}

.card {
  display: flex;
  width: 100%;
  height: 60vh;
  font-family: "Roboto Condensed", sans-serif;
  position: relative;
}


.btnSearch {
  margin-left: 20px;
  background-color: rgb(53, 159, 245);
}

img {
  height: 100%;
  width: 100%;
}

.card img {
  height: 100%;
  width: 100%;
}

.text {
  position: absolute;
  top: 20%;
  left: 18%;
  width: 30%;
}


  .item:hover{
    background-color: rgb(171, 168, 168);
          cursor: pointer;
          transition: 1s ease-in-out;
         
          transform: translateY(-0.5rem);
          border: 1px solid black;
  }


.item {
  border-radius: 10%;
  margin: 25px 30px 35px 40px;
  padding: 5px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 13px 10px 5px 0px rgba(207, 186, 186, 0.75);
  -webkit-box-shadow: 13px 10px 5px 0px rgba(214, 191, 191, 0.75);
  -moz-box-shadow: 13px 10px 5px 0px rgba(224, 196, 196, 0.75);
  height: 40vh;
  width: 40vh;
}

.item .itemCard {
  height: 150px;
  width: 150px;
  padding: 30px;
}

.headline {
  text-align: center;
  margin-top: 20px;
}

.item .itemCard img {
  height: 100%;
  width: 100%;
  border-radius: 20%;
}

.price {
  color: rgb(117, 117, 206);
  padding: 10px;
}

.price:hover {
  cursor: pointer;
}


.btn {
  height: 40px;
  width: 190px;
  border-radius: 14px;
  background-color: rgb(53, 159, 245);


}

.btn:hover {
  cursor: pointer;
}

.btnItem {
  height: 100px;
  margin-bottom: 5px;
}


/*cart ko css*/

.cartConatiner {
  margin: 2rem 8rem;
  
  width: 40vw;
  background-color:  rgb(218, 223, 227);;
 border-radius: 20px;
 min-width: 50vw;
}

.cartItem {
  height: 5vh;

  display: flex;

  align-items: center;
  justify-content: space-around;
}

.productImage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
 
}

.handle
{
  display: flex;
  padding: 10px;
}

.handleButton{
  margin:0 5px;
  height: 2rem;
  border-radius: 10px;
  border: none;
  width: 1rem;
  background-color:  rgb(218, 223, 227);
}
.image {
  height: 100px;
  width: 100px;
 
}

.productImage .image img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

input{
  width: 20px;
  margin: 0 10px;
}

#cartBackground
{
  background-color:  rgb(14, 146, 253);
 
    height: 10rem;
    width: 50%;
    top: 25%;
    right: 25%;
    position: absolute;
    border-radius: 2rem;
}

#cartBackground .sorry 
{
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
#btnBack{
  top: 25%;
  left: 42%;
    position: absolute;
  height: 2rem;
  border-radius: 10px;
  border: none;
  width: 5rem;
  background-color:  rgb(218, 223, 227);

}

#btnBack:hover{
  background-color: transparent;
  cursor: pointer;
  transition: 1s ease-out;
}

.total{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.totalPrice{
  background-color: aqua;
  top: 0;
  height: 200px;
 
}